# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build outputs
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# NuGet packages (복원 가능하므로 제외)
s-sys/packages/

# Compiled files
*.obj
*.pdb
*.ilk
*.exp
*.lib
*.dll
*.exe
*.idb
*.ipch
*.ncb
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
*.VC.db-shm
*.VC.db-wal

# IntelliSense
*.vsidx
ipch/
